.Item{
    background-color:'yellow'
}
.Colored{
    
    border: 0;   /* in order to override TWBS stylesheet */
    height: 5px;
    
    background: -moz-linear-gradient(left, #303030 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%);  /* FF3.6+ */
    background: -webkit-linear-gradient(left, #303030 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #303030 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #303030 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* IE10+ */
    background: linear-gradient(to right, #303030 0%, rgba(196,222,138,1) 12.5%, rgba(245,253,212,1) 12.5%, rgba(245,253,212,1) 25%, rgba(255,208,132,1) 25%, rgba(255,208,132,1) 37.5%, rgba(242,122,107,1) 37.5%, rgba(242,122,107,1) 50%, rgba(223,157,185,1) 50%, rgba(223,157,185,1) 62.5%, rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%, rgba(95,156,217,1) 75%, rgba(95,156,217,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 87.5%, rgba(94,190,227,1) 100%); /* W3C */
      
}
.Clasification{
    background: #262626;
    padding-top: 30px;
    padding-bottom: 30px;
}
.Logo{
    position: absolute;
    width: 159px;
    height: 42px;
    left: 35px;
    top: 69px;
}

.Varredura{
    position: absolute;
    width: 333px;
    height: 29px;
    left: 588px;
    top: 88px;
}
.Login{
    position: absolute;
    width: 115px;
    height: 50px;
    left: 1434px;
    top: 83px;
}
.header{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #2a2a2a;

    

}
.Lista{
    position: relative;
    width: 1612px;
    height: 622px;
}
.btn-classify{
  background-color: #2a2a2a;
  border-color: #174931;
  color: white;
}
.btn-classify:hover{
    background-color: #174931;
    border-color: #174931;
    color: white;
}
.btn-checked::before{
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : -62%;
    height  : 3px;
    width   : 50%;  /* or 100px */
    border-bottom:3px solid white;
}
.btn-checked-sub::before{
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : -12%;
    height  : 3px;
    width   : 50%;  /* or 100px */
    border-bottom:3px solid white;
}

.btn-anotacoes{
    background-color: #2a2a2a;
    border-color: #174931;
    color: white;

}
.btn-anotacoes:hover {
    background-color: #174931;
    border-color: #174931;
    color: white;

}
.fixed-content{
    overflow-y: scroll;
    overflow-x: visible;
    height: 642px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
 /* Hide scrollbar for Chrome, Safari and Opera */
.fixed-content::-webkit-scrollbar {
    display: none;
}
.formAddNote{
    background-color: #2a2a2a;
    padding: 4%;
    height: 642px;
}
.formAddNoteContainer{
    padding-left: 2%;
}
.addNoteRow{
    position: relative;
}
